@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-shopbag icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                Bài toán cái túi
                <div class="page-title-subheading">
                    Cách giải: quy hoạch động
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            @*Input*@
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div>
                        <form class="form-inline">
                            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
                                <label for="exampleEmail22" class="mr-sm-2">Trọng lượng túi</label><input id="trongluong" name="txttrongluong" placeholder="Trọng lượng túi" type="number" class="form-control" required>
                            </div>
                            <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
                                <label for="examplePassword22" class="mr-sm-2">Số lượng vật</label><input id="soluong" name="txtsoluong" placeholder="Số lượng vật" type="number" class="form-control" required>
                            </div>
                            @*<button id="btnOK" class="btn btn-primary">OK</button>
                        &nbsp;*@
                            <button id="btnRandom" class="btn btn-info">Random</button>
                        </form>
                    </div>
                </div>
            </div>

            @*Content*@
            <div class="main-card mb-3 card" id="input-content">
                <div class="card-body">
                    <form class="" id="form-vatco">
                        <div class="form-row vatco" id="vatco">

                        </div>

                        <button type="button" class="btn btn-success" id="submit">Xử lý</button>
                    </form>
                </div>
            </div>

            @*Result*@
            <div class="main-card mb-3 card" id="row-ketqua">

            </div>

            <div class="main-card mb-3 card" id="row-chart">
                <canvas id="myChart" style="width: '50%'; height:'50%'"></canvas>
            </div>


            @*<div class="main-card mb-3 card">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>*@
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>

<script>
    let listtrongluong = [];
    let listgiatri = [];
    let sldiv = 0;
    let mangtl;

    $(document).ready(function () {
        $("#input-content").hide();
        $("#row-chart").hide();
    });

    $("#btnOK").click(function (e) {
        e.preventDefault();

        let sl = $("#soluong").val();
        sldiv = parseInt(sl);

        for (let i = 0; i < sl; i++) {
            $("#vatco").append(`
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="trongLuongVatThuI" class="">Trọng lượng vật thứ ${i + 1}</label>
                    <input placeholder="Trọng lượng vật thứ ${i + 1}" type="number" class="form-control tlvat${i}"></div>
                </div>`
            );

            $("#vatco").append(`
                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="giaTriVatThuI" class="">Giá trị vật thứ ${i + 1}</label>
                    <input placeholder="Giá trị vật thứ ${i + 1}" type="number" class="form-control giatri${i}"></div>
                </div>`
            );
        }

        $("#input-content").show();
    });

    $("#submit").click(function () {
        for (let i = 0; i < sldiv; i++) {
            listtrongluong.push(parseInt($(`.tlvat${i}`).val()));
            listgiatri.push(parseInt($(`.giatri${i}`).val()));
        };

        mangtl = JSON.stringify(listtrongluong);
        manggt = JSON.stringify(listgiatri);

        $.ajax({
            url: "/XuLy/DynamicPlanningAlgorithm",
            type: "POST",
            data: {
                "mangtl": mangtl,
                "manggt": manggt,
                "txttrongluong": parseInt($("#trongluong").val()),
                "txtsoluong": parseInt($("#soluong").val())
            },
            success: function (data) {
                $("#row-ketqua").html(`
                    <div class="card-body" id="table-ketqua">
                        ${data}
                    </div>`);
            },
            error: function (data) {
                alert("Error: " + data);
            }
        });
    });

    $("#btnRandom").click(function (e) {
        e.preventDefault();

        $.ajax({
            url: "/XuLy/RandomAllAlgorithm",
            type: "POST",
            async: true,
            timeout: 100000000,
            success: function (data) {
                $("#row-ketqua").html(`
                    <div class="card-body" id="table-ketqua">
                        ${data}
                    </div>`);

                $("#row-chart").show();
            },
            error: function (data) {
                alert("Error: " + data);
            }
        });

        //$.ajax({
        //    url: "/XuLy/RandomDynamicPlanningAlgorithmResult",
        //    type: "POST",
        //    data: {
        //        "txttrongluong": parseInt($("#trongluong").val()),
        //        "txtsoluong": parseInt($("#soluong").val())
        //    },
        //    success: function (data) {
        //        console.log(data);
        //    },
        //    error: function (data) {
        //        alert("Error: " + data);
        //    }
        //});
    });
</script>