
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Những vật được chọn</th>
                <th>Tổng giá trị túi</th>
                @*<th>Thời gian chạy</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (char vat in ViewBag.VatDuocChon)
                {
                    @vat
                }
            </tr>
            <tr>
                @ViewBag.Tong;
            </tr>
            @*<tr>@ViewBag.Time</tr>*@
            <tr>@*@ViewBag.Time m*@ @ViewBag.Second giây</tr>
            
        </tbody>
    </table>